{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}PongPing{% endblock %}</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/game.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/offlinePong.css' %}" />
    <script type="text/javascript" src="{% static 'js/engine.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
      isLoggedIn = "{{request.session.logged_in | yesno:'true,false'}}";
      document.addEventListener("DOMContentLoaded", () => {
        if (isLoggedIn === 'true') {
          engine('/home');
        } else {
          engine('/login');
        }
      });
    </script>
  </head>

  <body>
    <div class="mainContainer" id="mainContainer">
      <div id="mainContentArea"></div>
    </div>
  </body>
</html>
