{% load static %}
<div class="pixelCard pixelHover" onclick={{onClick}}>
    <div class="row" style="text-align: center;">
        <div class="col-12 d-flex justify-content-center image">
            <img src="{% static '' %}{{img}}">
        </div>
        <div class="col-12 d-flex justify-content-center title  mt-3">
            <h3>{{title}}</h3>
        </div>

        <div class="col-12 d-flex justify-content-center description mt-3">
            <p>{{description}}</p>
        </div>
    </div>
</div>