{% comment %} <!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/game.css' %}"/>

    <script src="{% static 'js/canvas.js' %}"></script>

    <title>Multiplayer Demo</title>
  </head>
  <body> {% endcomment %}
    <div class="container">
      <canvas id="gameCanvas" width="1024" height="580"></canvas>
    </div>
    <div class="button">
      <button id="start-btn" class="btn">Start</button>
      <button id="pause-btn" class="btn">Stop</button>
      <button id="restart-btn" class="btn">Restart</button>
    </div>
    <div id="readyGo"></div>
  </div>
  {% comment %} </body>
</html> {% endcomment %}
