<!-- <!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/game.css' %}"/>

    {% comment %} <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script> {% endcomment %}

    <script src="{% static 'js/canvas.js' %}"></script>

    <title>Multiplayer Demo</title>
  </head>
  <body> -->
    {% comment %} <multiplayer-channels-demo></multiplayer-channels-demo> {% endcomment %}
    {% comment %} <canvas id="gameCanvas" width="1024" height="580"></canvas> {% endcomment %}
    <div class="onlineGame row">
      <div class="container-fluid col-12">
        <canvas id="gameCanvas" class="w-100" uid={{uid}}></canvas>
      </div>
      <div id="readyGo"></div>
      {% comment %} <p style="color: white;">{{uid}}</p> {% endcomment %}
    </div>
    
    <!-- </body>
</html> -->