<div class="row m-0">
    <div class="col-12">
        <p id="welcome">
            Welcome back {{ userData.first_name }}, it's PONGPING time!
        </p>
    </div>
</div>

<div class="row gy-0 gx-5 g-md-5 m-0">
    <div class="col-6 col-md-4">
        {% include "buttonCard.html" with img="imgs/game.svg" title="Online" description="Get matched with a random player online" onClick="engine('/online');setAttribute('onclick','')" %}
    </div>
    <div class="d-none d-md-flex col-sm-12 col-md-4">
        {% include "buttonCard.html" with img="imgs/offline.svg" title="Offline" description="Play a local match with your friends" onClick="engine('/offline')" %}
    </div>
    <div class="col-6 col-md-4">
        {% include "buttonCard.html" with img="imgs/cup.svg" title="Tournament" description="Compete in a tournament or start your own!" onClick="engine('/tournament');setAttribute('onclick','')" %}
    </div>
</div>

<div class="row gy-0 gx-5 g-md-5 m-0 flex-grow-1 historySection">
    <div id="matchHistoryDash" class="col-12 col-md-8">
        <div class="content p-2">
            <div class="titleSection">
                <h3 class="title">Match History</h3>
            </div>

            <div id="matchHistoryInjection">

                {% if matchHistory %}
                    {% for match in matchHistory %}
                        {% include 'matchHistoryEntry.html' with img=userData.image myScore=match.my_score theirScore=match.opponent.score theirImg=match.opponent.image theirUsername=match.opponent.username time=match.timePassed %}
                    {% endfor %}
                {% else %}
                    <p>Participate in matches to check your history</p>
                    {% include "gameButton.html" with onclick="engine('/online')" content="Join online game" %}
                {% endif %}
            </div>
        </div>
    </div>

    <div id="tournamentHistoryDash" class="col-12 col-md-4 d-flex flex-column flex-grow-1 ">
        <div class="content p-2">
            <div class="titleSection">
                <h3 class="title">Your Tournaments</h3>
            </div>
            <div id="tournamentHistoryInjection">

                {% if tournamentHistory %}
                    {% for match in tournamentHistory %}
                        {% include 'tournamentHistoryEntry.html' with img=userData.image rank=match.rank date=match.tournament_time_passed%}
                    {% endfor %}
                {% else %}
                    <p>Participate in tournaments to check your ranking</p>
                    {% include "gameButton.html" with onclick="engine('/tournament')" content="Join Tournament" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>