{% load static %}
<div id="main_error" class="alert alert-danger rounded-0 z-3 align-content-center collapse">
    <div class="d-flex align-content-center justify-content-center gap-2">
        <p id="error_text" class="m-0"></p>
        <button id="error_button" type="button" class="btn btn-danger btn-sm"></button>
        <button id="close_button" type="button" class="btn btn-outline-danger btn-sm">X</button>
    </div>
</div>
<div class="loginPageContent">
    <div class="loginHeader">
        <div class="loginPage">
            <h1>PONGPING</h1>
        </div>
    </div>

    <div class="img-container">
        <div class="img-wrapper">
            <img src="/static/imgs/arcade.png" alt="Arcade" class="centered-img">
            <div class="loginButtonPos">
                <button type="button" class="btn loginButton w-100 h-100" onclick="location.href='{{authUrl}}'">PLAY</button>
            </div>
        </div>
    </div>
</div>
