{% load static %}
<div class="container-fluid d-flex flex-grow-1 mh-100 pt-3 pb-3">
    <div class="row flex-grow-1 g-2 g-lg-4 mw-100">

        <!-- Profile pic, name, login -->
        <div
            class="col-12 col-lg-3 mh-100 d-flex flex-column flex-grow-1 profileInfo"
            style="overflow: overlay"
        >
            <!-- img -->
            <div class="d-flex justify-content-center" style="margin-bottom: 25px;">
                <img class="img-fluid" src="{{image}}" style="border-radius: 25px;">
            </div>

            <!-- username -->
            <div class="d-flex mb-3">
                <h1 class="text-truncate text-nowrap">{{username}}</h1>
                {% if status == 1 %}
                    <img src="{% static 'imgs/online_status.svg' %}" alt="online" class="img-fluid" style="height: 100%; width: auto;">
                {% elif status == 2 %}
                    <img src="{% static 'imgs/in-game_status.svg' %}" alt="in-game" class="img-fluid" style="height: 100%; width: auto;">
                {% else %}
                    <img src="{% static 'imgs/offline_status.svg' %}" alt="offline" class="img-fluid" style="height: 100%; width: auto;">
                {% endif %}
            </div>

            <!-- button -->
            <div class="d-flex mb-3" id="button">
                {% if type == 0 %}
                    <button class="btn"
                    data-bs-toggle="collapse"
                    data-bs-target="#edit_profile"
                    id="primary-btn"
                >
                    Edit Profile
                </button>
                {% elif type == 1 %}
                    <button class="btn" id="primary-btn" onclick="engine('/add/{{uid}}/'); engine('/profile/{{uid}}')">Add Friend</button>
                {% elif type == 2 %}
                    <button class="btn" id="primary-btn" onclick="engine('/reject/{{uid}}/'); engine('/profile/{{uid}}')">Remove Friend</button>
                {% elif type == 3 %}
                    <button class="btn" id="primary-btn" onclick="engine('/reject/{{uid}}/'); engine('/profile/{{uid}}')">Cancel Request</button>
                {% elif type == 4 %}
                    <div class="col-9">
                        <button class="btn" id="primary-btn" onclick="engine('/accept/{{uid}}/'); engine('/profile/{{uid}}')">Accept Request</button>
                    </div>
                    <div class="col-3">
                        <button class="btn" id="secondry-btn" onclick="engine('/reject/{{uid}}/'); engine('/profile/{{uid}}')">Reject Request</button>
                    </div>
                {% else %}
                {% endif %}
            </div>

            <!-- first_name -->
            <div class="d-flex">
                <img src="{% static 'imgs/name.svg' %}" class="">
                <p class="text-truncate text-nowrap">{{full_name}}</p>
            </div>

            <!-- campus -->
            <div class="d-flex">
                <img src="{% static 'imgs/campus.svg' %}">
                <p class="text-truncate text-nowrap">{{campus}}</p>
            </div>

            <!-- intra link -->
            <div class="d-flex">
                <img src="{% static 'imgs/intra.svg' %}">
                <a href="{{intra_url}}" target="_blank" rel="noopener noreferrer"id="test">Intra profile</a>
            </div>
        </div>

        <!-- match history -->
        <div id="matchHistoryDash" class="col-12 col-lg-6">
            <div class="content p-2 profileCard">
                <div class="titleSection">
                    <h3 class="title">Match History</h3>
                </div>

                <div id="matchHistoryInjection">

                    {% if matchHistory %}
                        {% for match in matchHistory %}
                            {% include 'matchHistoryEntry.html' with img=image myScore=match.my_score theirScore=match.opponent.score theirImg=match.opponent.image theirUsername=match.opponent.username time=match.timePassed %}
                        {% endfor %}
                    {% else %}
                        <p>Participate in matches to check your history</p>
                        {% include "gameButton.html" with onclick="engine('/online')" content="Join online game" %}
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- tour history -->
        <div id="tournamentHistoryDash" class="col-12 col-lg-3 d-flex flex-column flex-grow-1 pb-3 pb-lg-0">
                <div class="content p-2 profileCard">
                <div class="titleSection">
                    <h3 class="title">Your Tournaments</h3>
                </div>
                <div id="tournamentHistoryInjection">

                    {% if tournamentHistory %}
                        {% for match in tournamentHistory %}
                            {% include 'tournamentHistoryEntry.html' with img=userData.image rank=match.rank date=match.tournament_time_passed%}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
