{% load static %}
<div
    id="profileImg" class="d-flex dropdown profileTopBar"
>
    <button class="btn m-0 p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <h1 id="userName" class="align-self-center align-middle d-inline-block mb-0">
            {{ userData.username }}
        </h1>
        <img
            src="{{ userData.image }}"
            class="profilePic align-middle img42"
        />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
            <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target="#profilePop" onclick="engine('/profile/{{userData.uid}}')">Profile</a>
        </li>
        <li><a class="dropdown-item" onclick="engine('/logout')">Logout</a></li>
    </ul>
</div>
