{% load static %}
{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

<div class="row" id="statusBox">
	<p class="mx-auto" id="tournamentStatus">Waiting for players...</p>
	<div class="mx-auto form-check" id="readyButton" style="display: none;">
		<input class="mx-auto form-check-input" type="checkbox" value="">
		<label class="mx-auto form-check-label" for="readyToStart" style="color: white;">Ready</label>
	</div>
</div>
<div class="row" id="bracketContainer">
	<div class="col-8">
		<div class="row">
			<div class="col quarterFinal">
				<table class="w-75">
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player0"></td>
						<td colspan="12"><p class="playerName" id="name0">no player</p></td>
					</tr>

					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player1"></td>
						<td><p class="playerName" id="name1">no player</p></td>
					</tr>
				</table>

				<table class="w-75">
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player2"></td>
						<td><p class="playerName" id="name2">no player</p></td>
					</tr>

					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player3"></td>
						<td><p class="playerName" id="name3">no player</p></td>
					</tr>
				</table>
			</div>
			<div class="col d-flex align-items-center semiFinal">
				<table class="w-75 matchOne">
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player8"></td>
						<td><p class="playerName" id="name8">no player</p></td>
					</tr>

					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player9"></td>
						<td><p class="playerName" id="name9">no player</p></td>
					</tr>
				</table>
			</div>
		</div>
		
		<!-- BOTTOM HALF OF THE BRACKET -->
		<div class="row mt-5">
			<div class="col quarterFinal">
				<table class="w-75">
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player4"></td>
						<td><p class="playerName" id="name4">no player</p></td>
					</tr>
					
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player5"></td>
						<td><p class="playerName" id="name5">no player</p></td>
					</tr>
				</table>
				
				<table class="w-75">
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player6"></td>
						<td><p class="playerName" id="name6">no player</p></td>
					</tr>
					
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player7"></td>
						<td><p class="playerName" id="name7">no player</p></td>
					</tr>
				</table>
			</div>
			<div class="col d-flex align-items-center semiFinal">
				<table class="w-75 matchTwo">
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player10"></td>
						<td><p class="playerName" id="name10">no player</p></td>
					</tr>
					
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player11"></td>
						<td><p class="playerName" id="name11">no player</p></td>
					</tr>
				</table>
			</div>
		</div>
		<!-- END OF BOTTOM HALF OF THE BRACKET -->
	</div>
	
	<!-- FINAL MATCH -->
	<div class="col d-flex align-items-center final">
		<table class="w-75">
			<tr class="playerPill">
				<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player12"></td>
				<td><p class="playerName" id="name12">no player</p></td>
			</tr>
			
			<tr class="playerPill">
				<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player13"></td>
				<td><p class="playerName" id="name13">no player</p></td>
			</tr>
		</table>
	</div>
</div>
<div id="gameBox"></div>