{% load static %}
{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

<div class="outer-container" id="round1Container">
	<div class="image-container" id="queue">
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player0">
		</div>
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 1" id="player1">
		</div>
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 2" id="player2">
		</div>
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 3" id="player3">
		</div>
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 4" id="player4">
		</div>
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 5" id="player5">
		</div>
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 6" id="player6">
		</div>
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 7" id="player7">
		</div>
		{% comment %} <img src="https://i.imgur.com/BPukfZQ.png" alt="Image 2" id="player2"> {% endcomment %}
	</div>
</div>
<div class="outer-container" id="round2Container">
	<div class="image-container" id="queue">
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 8" id="player8">
		</div>
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 9" id="player9">
		</div>
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 10" id="player10">
		</div>
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 11" id="player11">
		</div>
	</div>
</div>
<div class="outer-container" id="round3Container">
	<div class="image-container" id="queue">
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 12" id="player12">
		</div>
		<div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 13" id="player13">
		</div>
	</div>
</div>
<div class="status-container" id="statusBox">
	<p id="tournamentStatus">Waiting for players...</p>
	<div class="form-check" id="readyButton" style="display: none;">
		<input class="form-check-input" type="checkbox" value="">
		<label class="form-check-label" for="readyToStart" style="color: white;">Ready</label>
	</div>
	<!-- <div class="img-cir round">
		<img src="{% static 'imgs/unknownuser.png' %}" alt="Winner" id="winnerImg">
	</div> -->
</div>
<!-- <p style="color: white;" id="matchStatus"">status</p> -->
{% comment %} <button onclick="toggleBracket()">Click Me</button> {% endcomment %}
<div id="gameBox"></div>
