{% load static %}
{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

<!-- <div class="row">
	<div class="outer-container" id="round1Container">
		<div class="image-container" id="queue">
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player0">
			</div>
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 1" id="player1">
			</div>
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 2" id="player2">
			</div>
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 3" id="player3">
			</div>
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 4" id="player4">
			</div>
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 5" id="player5">
			</div>
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 6" id="player6">
			</div>
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 7" id="player7">
			</div>
			{% comment %} <img src="https://i.imgur.com/BPukfZQ.png" alt="Image 2" id="player2"> {% endcomment %}
		</div>
	</div>
	<div class="outer-container" id="round2Container">
		<div class="image-container" id="queue">
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 8" id="player8">
			</div>
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 9" id="player9">
			</div>
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 10" id="player10">
			</div>
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 11" id="player11">
			</div>
		</div>
	</div>
	<div class="outer-container" id="round3Container">
		<div class="image-container" id="queue">
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 12" id="player12">
			</div>
			<div class="img-cir round">
				<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 13" id="player13">
			</div>
		</div>
	</div>
	<div class="status-container" id="statusBox">
		<p id="tournamentStatus">Waiting for players...</p>
		<div class="form-check" id="readyButton" style="display: none;">
			<input class="form-check-input" type="checkbox" value="">
			<label class="form-check-label" for="readyToStart" style="color: white;">Ready</label>
		</div>
		<!-- <div class="img-cir round">
			<img src="{% static 'imgs/unknownuser.png' %}" alt="Winner" id="winnerImg">
		</div> 
	</div>
	<!-- <p style="color: white;" id="matchStatus"">status</p> 
	{% comment %} <button onclick="toggleBracket()">Click Me</button> {% endcomment %}
	<div id="gameBox"></div>
	
</div> -->

<!-- <div class="row w-100">

	<div class="col-12">
		<div class="row rowOne g-0">
			<div class="col-2 d-block ">
				<div class="row playerPill g-0">
					<div class="col-3">
						<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player1">
					</div>
					<div class="col-8 d-flex flex-wrap align-content-center">
						<p class="playerName">no player</p>
					</div>
				</div>
				<div class="row playerPill g-0 d-flex flex-wrap">
					<div class="col-3">
						<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player1">
					</div>
					<div class="col-8 d-flex flex-wrap align-content-center">
						<p class="playerName">no player</p>
					</div>
				</div>
				
			</div>
		
		
			<div class="col-4 d-inline-flex  align-content-center flex-wrap ">
				<div class="row playerPill g-0">
					<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player0">
				</div>
			</div>
			<div class="col-4 d-block">
				3
			</div>
			
		</div>

		<div class="rowTwo">
			<div class="row g-0">
				<div class="col-2 d-block ">
					<div class="row playerPill g-0">
						<div class="col-3">
							<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player1">
						</div>
						<div class="col-8 d-flex flex-wrap align-content-center">
							<p class="playerName">no player</p>
						</div>
					</div>
					<div class="row playerPill g-0 d-flex flex-wrap">
						<div class="col-3">
							<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player1">
						</div>
						<div class="col-8 d-flex flex-wrap align-content-center">
							<p class="playerName">no player</p>
						</div>
					</div>
					
				</div>
			
			
				<div class="col-4 d-inline-flex  align-content-center flex-wrap ">
					<div class="row playerPill g-0">
						<img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player0">
					</div>
				</div>
				<div class="col-4 d-block">
					3
				</div>
				
			</div>
		</div>

		

	</div>
	
</div> -->

<div class="row" id="">
	<div class="col-8">
		<div class="row">
			<div class="col quarterFinal">
				<table class="w-75">
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player0"></td>
						<td colspan="12"><p class="playerName" id="name0">no player</p></td>
					</tr>

					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player1"></td>
						<td><p class="playerName" id="name1">no player</p></td>
					</tr>
				</table>

				<table class="w-75">
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player2"></td>
						<td><p class="playerName" id="name2">no player</p></td>
					</tr>

					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player3"></td>
						<td><p class="playerName" id="name3">no player</p></td>
					</tr>
				</table>
			</div>
			<div class="col d-flex align-items-center semiFinal">
				<table class="w-75 matchOne">
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player8"></td>
						<td><p class="playerName" id="name8">no player</p></td>
					</tr>

					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player9"></td>
						<td><p class="playerName" id="name9">no player</p></td>
					</tr>
				</table>
			</div>
		</div>
		
		<!-- BOTTOM HALF OF THE BRACKET -->
		<div class="row mt-5">
			<div class="col quarterFinal">
				<table class="w-75">
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player4"></td>
						<td><p class="playerName" id="name4">no player</p></td>
					</tr>
					
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player5"></td>
						<td><p class="playerName" id="name5">no player</p></td>
					</tr>
				</table>
				
				<table class="w-75">
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player6"></td>
						<td><p class="playerName" id="name6">no player</p></td>
					</tr>
					
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player7"></td>
						<td><p class="playerName" id="name7">no player</p></td>
					</tr>
				</table>
			</div>
			<div class="col d-flex align-items-center semiFinal">
				<table class="w-75 matchTwo">
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player10"></td>
						<td><p class="playerName" id="name10">no player</p></td>
					</tr>
					
					<tr class="playerPill">
						<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player11"></td>
						<td><p class="playerName" id="name11">no player</p></td>
					</tr>
				</table>
			</div>
		</div>
		<!-- END OF BOTTOM HALF OF THE BRACKET -->
	</div>
	
	<!-- FINAL MATCH -->
	<div class="col d-flex align-items-center final">
		<table class="w-75">
			<tr class="playerPill">
				<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player12"></td>
				<td><p class="playerName" id="name12">no player</p></td>
			</tr>
			
			<tr class="playerPill">
				<td><img src="{% static 'imgs/unknownuser.png' %}" alt="Image 0" id="player13"></td>
				<td><p class="playerName" id="name13">no player</p></td>
			</tr>
		</table>
	</div>
</div>