@font-face {
  font-family: 'ps2p';
  src: url('../fonts/ps2p.ttf') format("truetype");
}

@font-face {
  font-family: 'bpdots';
  src: local('Bpdots'),
    url('../fonts/BPdotsSquares-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'ntbricksans';
  src: local('NTBrickSans'),
    url('../fonts/NTBrickSans.ttf') format("truetype");
}

:root {
  --beach-bunny: #FCF9F4;
  --beach-bunny-pink: #EEB3E7;
  --beach-bunny-red: #EF6E7F;
  --beach-bunny-blue: #57f2e5;
  --beach-bunny-lavendar: #E9DCFF;
  --beach-bunny-lavendar-dark: #D4BBFE;
  --dark-purple-bg: #2A1948;
  --text-bright: #FFFDE1;
  --card-font-pink: #C185BA;
  --chat-text: #80629D;
  --login-text: #FFFCC7;
  --green-light: #7ECD81;
  --green-darker: #6BC66F;
  --beach-bunny-brown: #AF7885;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ps2p';
  padding: 0;
  margin: 0;
}

*,
html {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
  max-width: 100vw;
  max-height: 100vh;
  flex-direction: column;
  /* flex-direction: column-reverse; */
}


.mainContainer {
  width: 100vw;
  background-color: var(--dark-purple-bg);
  max-width: 100vw;
  max-height: 100vh;
}

#main_error {
  z-index: 999;
}

#homeContentArea{
  height: 80vh;
  max-height: 80vh;
  overflow-y: hidden;
}

.navigationBar {
  position: relative;
  z-index: 99;
  left: 0;
  height: 100vh;
  min-width: 62px;
  max-height: 80vh;
  width: 50px;
  background-color: var(--beach-bunny-lavendar);
  border-radius: 0px 13px 13px 0px;
  transition: width ease-out 0.3s;
  padding: 10px;
}

.navigationBar:hover {
  width: 80%;
  cursor: pointer;
}

.topBar {
  position: relative;
  height: 100;
  z-index: 90;
  width: 100%;
  /* background-color: red; */
  padding: 24px;
}

.profilePic {
  border-radius: 100%;
  max-width: 64px;
  max-height: 64px;
  min-width: 64px;
  min-height: 64px;
}

#userName{
    color: #FEFFCF;
    margin-right: 16px;
    font-family: 'ps2p';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pongping {
  color: #FEFFCF;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 4px 0px #59322B;
  font-family: 'ps2p';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  user-select: none;
}

.pongping:hover{
  cursor: pointer;
}

.containerBorder {
  border-radius: 12px;
    width: 100%;
    margin: 2em auto;
    background-color: var(--beach-bunny);
    transition: all ease-out 0.3s;
    border: solid 2px black;
    box-shadow: 8px 7px 0px 0px #EF6E7F;

}

.pixelHover:hover {
  cursor: pointer;
  background-color: var(--beach-bunny-lavendar);

}

.welcomeBar #welcome {
  font-family: 'bpdots';
  font-size: 20px;
  color: var(--text-bright);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--Chat-Chat-text, #000);
}

.containerBorder {
  padding: 4%;
}

.containerBorder h3 {
  text-align: center;
  font-family: 'ps2p';
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  /* 24.84px */
  color: var(--card-font-pink);
}

.containerBorder .image img{
  max-width: 63px;
}

.containerBorder .description p{
  font-size: 0.9rem;
  font-family: 'bpdots';
  font-weight: 700;
  padding-left: 5%;
  padding-right: 5%;
}

#matchHistoryDash .content, #tournamentHistoryDash .content{
  background-color: whitesmoke;
  border-radius: 12px;
  border: solid 5px var(--beach-bunny-lavendar-dark);
  /* box-shadow: 8px 7px 0px 0px var(--beach-bunny-lavendar-dark); */
  height: 100%;
}

#matchHistoryDash .title,
#tournamentHistoryDash .title {
  font-family: 'ps2p';
  color: var(--chat-text);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 4px;
  padding: 10px;
  box-shadow:
  -8px 0px 0px 0px whitesmoke,
  8px 0px 0px 0px whitesmoke,
  -8px 4px 0px 0px var(--beach-bunny-lavendar-dark),
  8px 4px 0px 0px var(--beach-bunny-lavendar-dark)
  ;
}

.loginPage h3 {
  /* background: #4DA394; */
  font-family: "ps2p";
  font-size: 24px;
}

.loginPage p {
  /* background: #4DA394; */
  font-family: 'ntbricksans';
  color: var(--login-text);
  text-align: center;
  text-shadow: 0px 8px 0px #59322B;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.loginPage img {
  width: 533px;
  height: 837.344px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.roundedButton {
  width: 100%;
  margin: 2em auto;
  background-color: var(--beach-bunny);
  box-shadow:

    /*top left & top right border*/
    -10px 0px 0px var(--beach-bunny),
    -5px -5px 0px var(--beach-bunny),
    0px -10px 0px var(--beach-bunny),
    -10px -5px 0px black,
    -5px -10px 0px black,
    0px -15px 0 0 black,

    10px 0px 0px var(--beach-bunny),
    5px -5px 0px var(--beach-bunny),
    0px -10px 0px var(--beach-bunny),
    10px -5px 0px black,
    5px -10px 0px black,
    0px -15px 0 0 black,

    /*bottom left & bottom right borders*/
    -10px 0px 0px var(--beach-bunny),
    -5px 5px 0px var(--beach-bunny),
    0px 10px 0px var(--beach-bunny),
    -10px 5px 0px black,
    -5px 10px 0px black,
    0px 15px 0 0 black,

    10px 0px 0px var(--beach-bunny),
    5px 5px 0px var(--beach-bunny),
    0px 10px 0px var(--beach-bunny),
    10px 5px 0px black,
    5px 10px 0px black,
    0px 15px 0 0 black,
    /*left & right black border*/
    -15px 0 0 0 black,
    15px 0 0 0 black,

    /*card highlight*/
    10px 0px 0px var(--beach-bunny),
    5px 5px 0px var(--beach-bunny),
    0px 10px 0px var(--beach-bunny),
    20px 5px 0px var(--beach-bunny-red),
    20px 10px 0px var(--beach-bunny-red),
    15px 15px 0px var(--beach-bunny-red),
    10px 20px 0 0 var(--beach-bunny-red),
    5px 20px 0 0 var(--beach-bunny-red);

  transition: all ease-out 0.3s;
}

/*ALL THINGS SIDE BAR*/
.friendImg{
  position: relative;
  width: 25%;
  z-index: 10;
}

.friendImg img, .friendRequest img{
  position: relative;
  min-width: 42px;
  min-height: 42px;
  max-width: 42px;
  max-height: 42px;
  border-radius: 100%;
  aspect-ratio: 1;
  z-index: 10;
}

.friendRequest img{
  border-radius: 0px;
}

.friendImg div::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius:50%;
  width: 12px;
  height: 12px;
  z-index: 11;
}

.friendOffline::after{
  background: red;
}
.friendOnline::after{
  background: lightgreen;
}
.friendInGame::after{
  background: orange;
}

.friendName{
  display: none;
  padding-left: 10px;
  z-index: 9;;
}
.friendName p, .friendName a{
  font-family: ps2p;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 9;
  text-wrap: nowrap;
  text-decoration: none;
  color: var(--beach-bunny-brown);
}

.friendName.title p{
  font-family: bpdots!important;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
  color: var(--chat-text);
  z-index: 9;
  text-wrap: nowrap;
}

.friendRequest{
  padding-bottom: 10px;
  border-bottom: solid 2px var(--beach-bunny-lavendar-dark);
}

.friend , .friendButton{
  margin-top: 10px!important;
}

.friendButton:last-child{
  margin-top: 0px!important;
}



.friend:hover p{
  text-decoration: underline;
}

.friendAdd{
  padding-top: 10px;
  border-bottom: none;
  border-top: solid 2px var(--beach-bunny-lavendar-dark);
  bottom: 0;
}

.friendInjection{
  position: relative;
  height: calc(100% - 128px);
  overflow-y: auto;
}

.basePopup{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  overflow:hidden;
}

.formBase{
  position: absolute;
  width: 50%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  /* padding: 10px; */
}

.overlay{
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.9;
  z-index: 98;
}

.formIcon{
  border: none!important;
}

.formIcon img{
  height: 26px;
}

.searchInput input{
  border: none;
  font-family: bpdots;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
}

.searchInput input:focus{
  background-color: var(--beach-bunny-pink);
}

.pink-bg{
  background-color: var(--beach-bunny-pink);
}

.pill-border-pink{
  box-shadow: 
  -8px 0px 0px var(--beach-bunny-pink),
  -4px -4px 0px var(--beach-bunny-pink),
    0px -8px 0px var(--beach-bunny-pink),
    -8px 0px 0px var(--beach-bunny-pink),
  -4px 4px 0px var(--beach-bunny-pink),
    0px 8px 0px var(--beach-bunny-pink),
    8px 0px 0px var(--beach-bunny-pink),
  4px -4px 0px var(--beach-bunny-pink),
    0px -8px 0px var(--beach-bunny-pink),
    8px 0px 0px var(--beach-bunny-pink),
  4px 4px 0px var(--beach-bunny-pink),
    0px 8px 0px var(--beach-bunny-pink);
}

.formDone{
  border: none;
  background-color: var(--green-darker);
  text-align: center;
  font-family: bpdots;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  box-shadow: 
  -4px -4px 0px var(--green-darker),
  -4px 4px 0px var(--green-darker),
  4px -4px 0px var(--green-darker),
  4px 4px 0px var(--green-darker),
  -8px 0px 0px var(--green-light),
    0px -8px 0px var(--green-light),
    -8px 0px 0px var(--green-light),
    0px 8px 0px var(--green-light),
    8px 0px 0px var(--green-light),
    0px -8px 0px var(--green-light),
    8px 0px 0px var(--green-light),
    0px 8px 0px var(--green-light);
}

* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  /* border: 3px solid #ffffff; */
}

#searchUsers{
  overflow: hidden auto;
  max-height: calc(42px * 5);
  scrollbar-color: var(--beach-bunny-pink) transparent;
}

.searchButtonFunction{
  max-width: 24px;
  max-height: 24px;
  min-width: 24px;
  min-height: 24px;
}

.searchButtonFunction:hover{
  cursor: pointer;
}

.circleImg{
  border-radius: 100%;
}


.img42{
  max-width: 42px;
  max-height: 42px;
  min-width: 42px;
  min-height: 42px;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  object-fit: cover;
}

.searchedUser a{
  color: var(--beach-bunny-brown) ;
}


.friendRequestButton::after{
    content: "";
    position: absolute;
    bottom: 6px;
    right: 6px;
    z-index: 12;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    transform: translate(50%, 50%);
}

.profilePic:hover{
  cursor: pointer;
}

#matchHistoryDash, #tournamentHistoryDash {
  max-height: 100%;
}

.historySection{
  max-height: 45%;
}

#matchHistoryInjection, #tournamentHistoryInjection {
  overflow-y: auto;
  max-height: 95%;
}

.mobileNavBar{
  position: fixed;
  bottom: 0;
  height: 7.5vh;
  width: 100vw;
  background-color: var(--beach-bunny-lavendar);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.mainFriendMobileContainer{
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.mobileFriend{
  display: inline-block;
}
.mobileAddFriend{
  right: 0;
}

.mobileFriendInjection{
  overflow: auto;
}
@media only screen and (max-width: 768px) {

  body{
    max-height: none;
    height: 100vh;
    overflow: auto;
  }

  .mainContainer{
    max-height: none;
    height: 100%;
  }
  #homeContentArea{
    max-height: none;
    overflow-y: auto;
    height: 100%;
  }

  #mainContentArea{
    height: 100%;
  }

  #matchHistoryDash, #tournamentHistoryDash{
    margin: 2em auto;
  }

  .formBase{
    width: 75%;
  }
  .historySection{
    margin-bottom: 7.5vh!important;
  }
}

.profileTopBar .dropdown-menu {
  background-color: var(--beach-bunny);
  font-family: 'bpdots';
}
