.profile {
	width: 80vw;
	height: 60vh;
	overflow: overlay;
	background: var(--beach-bunny-lavendar);
	/* padding: 20px; */
	overflow: overlay;
}

.profile h1 {
	color: var(--Dark-Text, #FFFDE1);
	text-shadow: 0 0.13em 0 #251B2A;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #251B2A;
	font-family: 'ps2p';
	font-size: 1.5em;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

.profile .profileCard {
	min-height: 200px;
}

.profile .content {
	min-width: 0;
}

.profile .d-flex {
	column-gap: 1rem;
}

.profile .d-flex .profileInfo p {
	color: var(--chat-text, #80629D);
	font-family: 'bpdots';
	font-size: 1.3em;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	position: relative;
	float: left;
	transform: translate(0, 50%);
}

.profile .d-flex a {
	color: var(--chat-text, #80629D);
	font-family: 'bpdots';
	font-size: 1.3em;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	position: relative;
	float: left;
	text-decoration-line: underline;
}

.editProfile {
	width: 60vw;
	height: 60vh;
}

.editProfile label,input,button {
	font-family: 'bpdots';
	font-size: 1rem;
	color: black;
}

#primary-btn {
	width: 100%;
	background: var(--Beach-bunny-Accent, #F5BB76);
	color: black;
	border: 2px solid black;
}

#secondry-btn {
	width: 100%;
	background: var(--Beach-bunny-Card, #FCF9F4); 
	color: black;
	border: 2px solid black;
}

#editProfileForm {
	padding: 20px;
}
