.outer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.image-container {
	display: flex;
	justify-content: center;
}

/* .image-container img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: 0 10px;
} */

.img-cir {
    border-radius: 50%;
    position: relative;
    height: 70px;
    width: 70px;
    overflow: hidden;
    /* rename this */
	/* margin-left: auto;
	margin-right: auto; */
    float: left;
    margin-right: 10px;
}

.img-cir.round img {
    position: absolute;
    left: 50%;
    width: auto;
    height: 70px;
    transform: translateX(-50%);
 }
