@font-face {
    font-family: 'ps2p';
    src: local('Ps2p'),
         url('../fonts/ps2p.ttf') format("truetype");
}

.outer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25%;
}

.status-container {
    display: block;
	justify-content: center;
	align-items: center;
	height: 25%;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;

}

.quarterFinal table:first-child::before{
    content: '';
    position: absolute;
    width: 24px;
    height: calc(50% + 1rem);
    background-color: transparent;
    top: 50%;
    left: 100%;
    border: none;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0px;
    border-top-right-radius: 8px;
 }

 .quarterFinal table:nth-child(2)::before{
    content: '';
    position: absolute;
    width: 24px;
    height: calc(50% + 1rem);
    background-color: transparent;
    top: -1rem;
    left: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0px;
    border-bottom-right-radius: 8px;
 }

 .quarterFinal table:first-child::after{
    content: '';
    position: absolute;
    width: calc(25% + 24px);
    height: calc(50% + 1rem);
    background-color: transparent;
    top: calc(50% + 0.5rem);
    left: calc(100% + 23px);
    border: none;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 0px;
    border-bottom-left-radius: 0.6rem;
 }

 .quarterFinal table:nth-child(2)::after{
    content: '';
    position: absolute;
    width: calc(25% + 24px);
    height: calc(50% + 1rem);
    background-color: transparent;
    top: -1.5rem;
    left: calc(100% + 23px);
    border: none;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 0px;
    border-top-left-radius: 0.6rem;
 }


 .semiFinal .matchOne::before{
    content: '';
    position: absolute;
    width: 24px;
    height: calc(100% + 2.5rem);
    background-color: transparent;
    top: 50%;
    left: 100%;
    border: none;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0px;
    border-top-right-radius: 8px;
 }

 .semiFinal .matchOne::after{
    content: '';
    position: absolute;
    width: calc(25% + 24px);
    height: calc(100% + 2.5rem);
    background-color: transparent;
    top: calc(50% + 0.5rem);
    left: calc(100% + 23px);
    border: none;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 0px;
    border-bottom-left-radius: 8px;
 }

 .semiFinal .matchTwo::before{
    content: '';
    position: absolute;
    width: 24px;
    height: calc(100% + 2.5rem);
    background-color: transparent;
    top: calc(-50% - 2.5rem);
    left: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0px;
    border-bottom-right-radius: 8px;
 }

 .semiFinal .matchTwo::after{
    content: '';
    position: absolute;
    width: calc(25% + 24px);
    height: calc(100% + 2.5rem);
    background-color: transparent;
    top: calc(-3rem - 50%);
    left: calc(100% + 23px);
    border: none;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 0px;
    border-top-left-radius: 8px;
 }

table{
    position: relative;
    display: block;
    background-color: #E9DCFF;
    border-radius: 12px;
    padding: 0px 12px;
}

table:not(:first-child){
    margin-top: 3rem;
}

.playerPill{
    display: flex;
    align-items: center;
}
.playerPill img {
    position: relative;
    aspect-ratio: 1;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    max-width: 42px;
    max-height: 42px;
    width: 100%;
    margin: 12px 0px;
 }
tbody{
    display: table;
    width: 100%;
}
 tr:first-child{
    border-bottom: 1px solid lightgray;
 }

 td:first-child{
    max-width: 42px;
 }

 .playerName{
    margin: 0;
    margin-left: 12px;
    font-family: ps2p;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }

 #tournamentStatus {
    font-family: 'ps2p';
    font-size: medium;
    color: var(--login-text);
 }

 td{
    vertical-align: middle;
 }

 #tournamentHistoryInjection{
   margin-top: 5px;
 }

 .tournamentEntry{
   padding: 12px;
   margin: 0px calc(calc(-.5* var(--bs-gutter-x)) + 1px);
 }

 .tournamentEntry p{
   margin: 0px;
 }

.tournamentEntry img{
   max-width: 42px;
   aspect-ratio: 1;
   border-radius: 100%;
}

.tournamentRank{
   color: #94DE8D;
   -webkit-text-stroke-width: 1;
   -webkit-text-stroke-color: #251B2A;
   font-family: bpdots;
   font-size: 37px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-transform: lowercase;
   text-align: left;
}

.tournamentDate{
   text-align: center;
   /* Card text */
   font-family: bpdots;
   font-size: 10px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

#tournamentHistoryDash .content{
   height: 100%;
   max-height: 100%;
   overflow: hidden;
}