DEBUG=1

#KEYS
FE_DJANGO_SECRET='XXXX'
FAPI_DJANGO_SECRET='XXXX'
INTRA_SECRET='XXXX'
INTRA_UID='XXXX'

#SHARED DB CONFIG
DB_HOST=XXXX
DB_PORT=XXXX

#FRIEND DB CONFIG
FRIEND_DB_NAME=XXXX
FRIEND_DB_USER=XXXX
FRIEND_DB_PASS=XXXX

#USER DB CONFIG
USER_DB_NAME=XXXX
USER_DB_USER=XXXX
USER_DB_PASS=XXXX