DEBUG=1

#KEYS
FE_DJANGO_SECRET='XXXX'
FAPI_DJANGO_SECRET='XXXX'
GAPP_DJANGO_SECRET='XXXXXX'
TAPP_DJANGO_SECRET='XXXXXX'
INTRA_SECRET='XXXX'
INTRA_UID='XXXX'

#SHARED DB CONFIG
DB_HOST=XXXX
DB_PORT=XXXX
POSTGRES_USER=XXXX
POSTGRES_PASSWORD=XXXX

#FRIEND DB CONFIG
FRIEND_DB_NAME=XXXX

#USER DB CONFIG
POSTGRES_DB=XXXX