DEBUG=1

#KEYS
FE_DJANGO_SECRET='XXXX'
FAPI_DJANGO_SECRET='XXXX'
GAPP_DJANGO_SECRET='XXXXXX'
TAPP_DJANGO_SECRET='XXXXXX'
INTRA_SECRET='XXXX'
INTRA_UID='XXXX'

#SHARED DB CONFIG
DB_HOST=XXXX
DB_PORT=XXXX
POSTGRES_USER=XXXX
POSTGRES_PASSWORD=XXXX

#FRIEND DB CONFIG
FRIEND_DB_NAME=XXXX

#USER DB CONFIG
POSTGRES_DB=XXXX

# URLS
AUTH_URL=''
REDIRECT_URI='https://localhost/authenticate/'
USER_API_URL='http://userapp:8001/'
FRIENDS_API_URL='http://friendsapp:8002/'
GAME_API_URL='http://gameapp:8003/'
TOUR_API_URL='http://tourapp:8004'
MEDIA_URL='https://localhost:8005/'


#SERVICE INTERNAL IPS
FRIENDS_IP=192.168.1.2
GAME_IP=192.168.1.3
TOUR_IP=192.168.1.4
USER_IP=192.168.1.5
POSTGRES_IP=192.168.1.6
MAIN_IP=192.168.1.7
NGINX_IP=192.168.1.8
